@use "sass:math";
:root {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
}

/**************************************************************common */
%width-default-pc {
    width: 470px;
}
.section-heading {
    @extend %width-default-pc;
    color: #201830;
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 1.24;
}

.desc {
    @extend %width-default-pc;
    margin-top: 18px;
    color: #665f73;
    font-size: 1.6rem;
    line-height: 1.75;
}

.btn-1,
.btn-2 {
    display: inline-block;
    padding: var(--btn-pd-top) var(--btn-pd-left);
    border-radius: var(--btn-border-radius);
    text-align: center;
    color: #fff;
}

.btn-1 {
    background: #936cdd;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}

.btn-2 {
    background: #201830;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75;
}

/**************************************************************header */
.header {
    --btn-border-radius: 6px;
    --btn-pd-top: 9px;
    --btn-pd-left: 29px;
    padding-top: 42px;
    background: #fff8f3;
}

.header-body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
}

.logo {
    justify-self: start;
}

.pc-menu {
    justify-self: center;
    display: flex;
}

.menu__item {
    padding: 12px;
}

.menu__item:hover {
    text-shadow: 0.5px 0 0 #000;
}

.header-action {
    justify-self: end;
    display: flex;
}

.login-btn {
    background: transparent;
    color: #201830;
}

.login-btn:hover {
    background: #201830;
    color: #fff;
}

.login-btn:hover + .btn-2 {
    background: transparent;
    color: #201830;
}
/**************************************************************hero */
.hero {
    position: relative;
    padding-top: 110px;
    background: #fff8f3;
}

.media-left__img {
    position: relative;
}

.media__img {
    width: 270px;
    height: 302px;
    object-fit: cover;
}

.left__img--decor {
    position: absolute;
    left: 50%;
    bottom: -30px;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 12px;
    width: 194px;
    height: 60px;
    border-radius: 9px;
    background: #fff;
    box-shadow: 0px 12px 44px 0px rgba(32, 24, 48, 0.07);
}

.listener {
    margin-top: 53px;
}

.listener-title {
    color: #201830;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.71;
}

.listener-list {
    margin-top: 10px;
    margin-left: 18px;
    display: flex;
}

.listener-avatar {
    width: 48px;
    height: 48px;
    margin-left: -18px;
}

.social {
    position: relative;
    display: inline-block;
}

.product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    column-gap: 4px;
    margin-top: 8px;
    margin-left: 118px;
    width: 82px;
    height: 82px;
    background: #ff9051;
    border-radius: 50%;
}

.product-title {
    color: #fff;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 800;
    line-height: 1;
}

.product-desc {
    color: #ffefe7;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1;
}

.social__decor--top,
.social__decor--bot {
    position: absolute;
    width: 45px;
    height: 36.542px;
}

.social__decor--top {
    top: 44.5px;
    left: 54px;
}

.social__decor--bot {
    top: 102px;
    left: 157px;
}

.social__app {
    margin-top: 12px;
    display: flex;
    column-gap: 18px;
}

.hero-media-right {
    .media__img {
        margin-top: 68px;
    }
}

.hero-body {
    position: relative;
}

.hero__heading {
    margin-top: 18px;
    @extend %width-default-pc;
    color: #201830;
    font-size: 7rem;
    font-weight: 700;
    line-height: 1.14;
    position: relative;
    z-index: 1;
    animation: heading 1 1s;
}

@keyframes heading {
    from {
        margin-left: -250%;
    }
}

.heading-decor {
    position: absolute;
    top: 138px;
    left: 33px;
    z-index: 0;
    animation: decor 1 1s;
    animation-delay: 1s;
    animation-fill-mode: both;
}

@keyframes decor {
    from {
        margin-top: -100%;
    }
}

.hero__desc {
    margin-top: 20px;
    @extend %width-default-pc;
    color: #665f73;
    font-size: 1.8rem;
    line-height: 1.67;
}

.hero-action {
    margin-top: 40px;
    display: flex;
    --btn-border-radius: 6px;
    --btn-pd-top: 17px;
    --btn-pd-left: 27px;
}

.hero__play-btn {
    display: flex;
    align-items: center;
    column-gap: 8px;
    color: #201830;
    background: transparent;
}
/**************************************************************trending */
.trending {
    --btn-border-radius: 8px;
    --btn-pd-top: 17px;
    --btn-pd-left: 19px;
    margin-top: 160px;
    padding: 45px;
}

.trending-body {
    position: relative;
}

.trending-heading {
    @extend %width-default-pc;
}

.trending__heading-decor {
    position: absolute;
    top: 80px;
    left: 173px;
    width: 236px;
    height: 30px;
    z-index: -1;
}

.trending__desc {
    @extend %width-default-pc;
}

.trending-btn {
    margin-top: 38px;
    width: 157px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 8px;
}

.trending-media {
    position: relative;
}

.media__item {
    position: absolute;
    margin-top: -45px;
}

.media__item:nth-child(1) {
    top: 164px;
    left: 0;
    width: 80px;
    height: 80px;
}
.media__item:nth-child(2) {
    top: 0;
    left: 185px;
    width: 148px;
    height: 148px;
}
.media__item:nth-child(3) {
    top: 59px;
    right: 0;
    width: 100px;
    height: 100px;
}
.media__item:nth-child(4) {
    top: 273px;
    left: 169px;
    width: 126px;
    height: 126px;
}
.media__item:nth-child(5) {
    top: 221px;
    left: 384px;
    width: 138px;
    height: 138px;
}
.media__item:nth-child(6) {
    top: 56px;
    left: 142px;
    width: 287px;
    height: 287px;
    border-radius: 287px;
    opacity: 0.4;
    background: #ff9051;
    filter: blur(129px);
}
/**************************************************************category */
.category {
    margin-top: 160px;
    --btn-border-radius: 6px;
    --btn-pd-top: 17px;
    --btn-pd-left: 26px;
    .btn-1 {
        background: #201830;
    }
}

.category-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
}

.category-heading__decor {
    position: absolute;
    top: 35px;
    left: 561px;
    width: 193px;
    height: 23px;
    z-index: -1;
}

.category-list {
    margin-top: 70px;
    text-align: center;
    padding-bottom: 160px;
    .btn-1 {
        margin-top: 55px;
    }
}

.list-item--bot {
    margin-top: 30px;
}

.category-item--big-img {
    width: 100%;
    height: 600px;
}

.category-item {
    width: 100%;
    height: 285px;
}

/**************************************************************popular */

.popular {
    background: #fff8f3;
    padding: 100px 0;
}

.popular-title {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .section-heading {
        position: relative;
        z-index: 1;
    }
    .btn-1 {
        --btn-border-radius: 8px;
        --btn-pd-top: 17px;
        --btn-pd-left: 25px;
        background: #201830;
    }
}

.popular-heading-decor {
    position: absolute;
    top: 39px;
    left: 204px;
}

.popular-list {
    margin-top: 84px;
}

.popular-item__img {
    width: 100%;
    height: 286px;
}

.list-bot {
    margin-top: 30px;
}

.popular-item {
    padding: 29px 0 30px;
}

.episode {
    color: #fd6f1f;
    font-size: 1.4rem;
    line-height: 1.71;
}

.item__heading {
    margin-top: 6px;
    width: 270px;
    color: #201830;
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.5;
}

.item__desc {
    margin-top: 18px;
    width: 270px;
    color: #665f73;
    line-height: 1.75;
}

.item__btn {
    margin-top: 11px;
    display: flex;
    align-items: center;
    column-gap: 6px;
    color: #201830;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.71;
    &:hover > * {
        color: #936cdd;
    }
    &:hover circle {
        fill: #936cdd;
    }
}

.popular-dot {
    display: block;
    margin-top: 55px;
    margin-left: auto;
    margin-right: auto;
}

/**************************************************************blog */
.blog {
    padding: 168px 0 160px;
}

.blog-body {
    position: relative;
    desc {
        margin-top: 38px;
    }
}

.blog-img {
    width: 100%;
}

.blog-img--small {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    z-index: 1;
}
.blog-img--big {
    position: relative;
    left: calc(-8.3333333333% - 60px);
}

.blog-img__dot {
    position: relative;
    top: 146px;
    left: 74px;
}

.blog__title {
    position: relative;
}

.blog__title-decor {
    margin: 48px 0 18px;
}

.blog__heading-decor {
    position: absolute;
    top: 136px;
    left: 188px;
    z-index: -1;
}

.author {
    margin-top: 18px;
    color: #aba6b5;
    font-size: 1.4rem;
    line-height: 1.71;
}

/**************************************************************subscribe */
